.cover__link {
  display: block;
  position: relative;
  padding: 245px 312px;
  color: #fff;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  z-index: 0;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: .2s linear;
}

.cover__link:hover::after {
  opacity: .8;
}

@media screen and (max-width: 1130px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 970px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 714px) {
  .cover__link {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
