/*Покрывало для всего фона ссылки с изменяемым opacity.
z-index у покрывала меньше, чем у текста поэтому затемняется только фон.
Начальное значение opacity - 0.3, конечное - 0.8.
Изменение значения происходит при наведении на специальное дополнительное
(полностью прозрачное) покрывало (блок cover__overlay-hover), положенное на
самый верхний слой в данном контексте наложения.
Обязательное условие - изменяемое покрывало должно располагаться в html
непосредственно после дополнительного, используемого для наведения
указателя мыши*/

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -2;
  transition: 0.2s linear;
}

.cover__overlay-hover:hover + .cover__overlay {
  opacity: 0.8;
}
