.footer {
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 896px) {
  .footer {
  padding-left: 24px;
  padding-right: 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding-left: 16px;
    padding-right: 118px;
    display: block;
  }
}
